body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.display {
    background-color: #000;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
    border-bottom: 2px solid #555;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #666;
}

button:nth-child(4n) {
    background-color: orange;
    color: white;
}

button:nth-child(4n):hover {
    background-color: #ff9f00;
}
